.layout {
    display: flex;
    height: 100vh;
    flex-direction: column;
    // height: 100%;
    width: 100%;
    // overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: transparent;
}
