// @import "~bootstrap/scss/bootstrap";
body {
    background-color: #f5f5f5;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    overflow: overlay;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    // height: 100%;
}
#root {
    // height: 100vh;
    // width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
::-webkit-scrollbar-track-piece {
    -webkit-border-radius: 0;
}
::-webkit-scrollbar {
    width: 5px;
    height: 10px;
    z-index: 100;
}
::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #b8b8b8;
    -webkit-border-radius: 6px;
    outline-offset: -2px;
    filter: alpha(opacity = 50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}
::-webkit-scrollbar-thumb:hover {
    height: 50px;
    background-color: #878987;
    -webkit-border-radius: 6px;
}
button {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
}
